@import '../../../../../styles/partials/_variables.scss';

.secondaryCard {
  display: flex;
  width: 100%;
  height: 103px;
  margin-bottom: 10px;
  &__isActive {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1rem;
  } 
  &__thumbnail {
    margin-right: 10px;
    width: 40%;
    min-width: 40%;
    overflow: hidden;
    position: relative;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__description {
    margin-bottom: 5px;
  }
  &__channel {
    margin-bottom: 5px; 
    color: $dark-grey;
    font-weight: 500;
  }
  &__views {
    margin-bottom: 5px;
    color: $dark-grey;
    font-weight: 500;
  }
}

// media queries

@media #{$phone} {
  .secondaryCard {
    width: 70%;
  }
}

@media #{$phone-small} {
  .secondaryCard {
    width: 100%;
  }
}