@import '../../../styles/partials/_variables.scss';

.primaryVideo {
  width: 65%;
  margin-right: 25px;
}

// media queries

@media #{$phone} {
  .primaryVideo {
    width: 100%;
    margin: 0 0 25px 0;
    padding-bottom: 50px;
    border-bottom: 2px solid #D4D4D4;
  }
}