.user {
  display: flex;
  justify-content: space-between;
  &__link{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
  }
  &__avator {
    height: 40px;;
  }
}