@import '../../../../../styles/partials/_variables.scss';

.primaryVideoComments {
  &__newComment {
    display: flex;
    padding: 25px 0;
  }
  &__form {
    width: 100%;
    margin-left: 28px;
  }
  &__input {
    width: 100%;
    outline: none;
    padding: 5px 0;
    margin-bottom: 12px;
    border-width: 0 0 2px 0;
    border-color: $grey;
    &:hover {
      font-weight: 700;
      border-bottom: 3px solid $dark-grey;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
  &__commentButton {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  color: $white;
  background-color: $dark-blue;
  text-transform: uppercase;
  &:hover {
    opacity: 0.5;
  }
  }
  &__cancelButton {
  margin: 0 45px;
  display: flex;
  background: none; 
  text-transform: uppercase;
  &:hover {
    color: $grey;
  }
  }
}