// VARIABLES

// colours
$black: #111111;
$dark-grey: #888888;
$grey: #D4D4D4;
$light-grey: #F1F1F1;
$white: #FFFFFF;
$light-blue: #F8F8F8;
$blue: #B2DFFF;
$dark-blue: #0095FF;

// media queries
$phone-small: 'screen and (max-width: 470px)';
$phone: 'screen and (max-width: 700px)';
$tablet: 'screen and (max-width: 950px)';
$desktop: 'screen and (min-width: 1024px)';